{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}{% endblock %}

{% block body %}
    La Carte {{  pizzeria.nom }}

    {% for prod in IngredientPizza %}
        <h1>{{ prod.nom }}</h1>

    {% endfor %}



{% endblock %}