{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}{% endblock %}

{% block body %}
    Le détail de la pizza sélectionnée

    {% for prod in IngredientPizza %}
        <h1>{{ prod.nom }}</h1>

    {% endfor %}



{% endblock %}